/LearnPE/AnalysisPE/Debug
/LearnPE/AnalysisPE/PETools/Debug
/LearnPE/AnalysisPE/ProcessInfo/Debug
/LearnPE/AnalysisPE/test1/Debug
/LearnPE/AnalysisPE/test2/Debug
/LearnPE/AnalysisPE/testEvent/Debug
/LearnPE/AnalysisPE/testThread/Debug
/LearnPE/AnalysisPE/testThread1/Debug
debug/
release/
*.idb
*.opt
*.ncb
*.plg